<div>
    <div class="body">

        <div class="body">
            <div class="header">
                <div align=center>
                    <h2>Corporate Branch</h2>
                    <h4>Drawer  Relase From Customer</h4>
                </div>           
                <div align=right>
                    <button mat-raised-button color="primary">Execute</button>
                    <button mat-raised-button color="accent" (click)="updateRelease()"  style="margin-left: 5px;">Update</button>
                    <button mat-raised-button color="warn" style="margin-left: 5px;">Search</button>
                    <button mat-raised-button color="primary" (click)="ClearPage()" style="margin-left: 5px; margin-right: 100px;">Clear</button>
                    <button mat-raised-button color="warn" style="float: right; padding-right: 10px; margin-right: 20px;">logout</button>  
                </div>         
            </div>

            <div class="navbar">
                <a href="#" class="active"  style="margin-left:15px">Home</a>
                <a routerLink="/update" style="margin-left:15px">UpadateDrawerRelease</a> 
            </div>

        <div class="form-container">
            <form [formGroup]="formValue">
                <mat-card>
                    <mat-card-content>
                            <div align=right class="col-50">

                                <div>
                                    <!-- <mat-label>Release ID:</mat-label> -->
                                    <mat-form-field appearance="fill" appearance="outline" >
                                        <mat-label class="levelname form-control" >Release ID</mat-label>
                                        <input matInput formControlName="relid" (keydown.enter)="onKeyPress($event)" autocomplete="off">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <!-- <mat-label>Locker ID:</mat-label> -->
                                    <mat-form-field appearance="fill" appearance="outline" >
                                        <mat-label class="levelname form-control" >Locker ID</mat-label>
                                        <input matInput formControlName="lckrid" autocomplete="off">
                                    </mat-form-field>
                                </div>
                            
                                <div>
                                    <!-- <mat-label>Drawer ID:</mat-label> -->
                                    <mat-form-field appearance="fill" appearance="outline" class="levelname">
                                        <mat-label class="levelname form-control" >Drawer ID</mat-label>
                                        <input matInput formControlName="drwrid" autocomplete="off">
                                    </mat-form-field>
                                </div>
                                
                                <div>
                                    <!-- <mat-label>A/C Number:</mat-label> -->
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control" for="actnum">Account Number</mat-label>
                                        <input matInput formControlName="actnum" autocomplete="off">
                                    </mat-form-field>
                                </div>
<!--
                                <div>
                                    
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control" for="acttit">Account Title</mat-label>
                                        <input matInput formControlName="acttit">
                                    </mat-form-field>                       
                                </div>
                            
                            
                                <div>
                                   
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control">Deposit Product</mat-label>
                                        <input matInput formControlName="prdcod">
                                    </mat-form-field>
                                </div>

                                <div>
                                    
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control">For Sale Value</mat-label>
                                        <input matInput formControlName="saleval">
                                    </mat-form-field>
                                </div>
                            

                                <div>
                   
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control">Market Value</mat-label>
                                        <input matInput formControlName="marketval">
                                    </mat-form-field>
                                </div>

                                <div>
                                 
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control">Caution Money</mat-label>
                                        <input matInput formControlName="cautionamt">
                                    </mat-form-field>  
                                </div>       
                                -->
                                <div>
                                    <!-- <mat-label>Allocation Date:</mat-label> -->
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control">Allocation Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="reldate" autocomplete="off">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <!-- <mat-label>Remarks:</mat-label> -->
                                    <mat-form-field appearance="fill" appearance="outline">
                                        <mat-label class="levelname form-control">Remarks</mat-label>
                                        <input matInput formControlName="remarks" autocomplete="off">
                                    </mat-form-field>
                                </div>
                        </div>                
                        <div align=right>
                            <!-- <div>
                               
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">Customer Name</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        
                            <div>
                               
                                <mat-form-field appearance="fill" appearance="outline" style="width: 70px; padding-right: 5px;">
                                    <mat-label class="levelname form-control">Type</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <mat-form-field appearance="fill" appearance="outline" style="width: 264px; padding-right: 50px">
                                    <mat-label class="levelname form-control">Customer Code</mat-label>
                                    <input matInput formControlName="cuscod">
                                </mat-form-field>
                            </div>
                            <div>
                               
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">Address1</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        
                            <div>
                               
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">Address2</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            
                            <div>
                                
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">House</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>

                            <div>
                                
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">City Name</mat-label>
                                    <input matInput>
                                </mat-form-field>                       
                            </div>
                        
                        
                            <div>
                                
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">Phone No</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div> -->

                            <div>
                                <!-- <mat-label>Expire Date:</mat-label> -->
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">Release Date</mat-label>
                                    <input matInput [matDatepicker]="picker1" formControlName="reldate" autocomplete="off">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div>
                                <!-- <mat-label>Payment Status :</mat-label> -->
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">Payment Status</mat-label>
                                    <input matInput formControlName="paystat" autocomplete="off">
                                </mat-form-field>  
                            </div> 
                            <div>
                                <!-- <mat-label>Due Payment:</mat-label> -->
                                <mat-form-field appearance="fill" appearance="outline">
                                    <mat-label class="levelname form-control">Due Payment</mat-label>
                                    <input matInput formControlName="dueamt" autocomplete="off">
                                </mat-form-field>
                            </div>
                        </div>      
                    </mat-card-content>
                </mat-card>
            </form> 
        </div>
        <div class="footer" align=center>
            <p>Developed & Maintained by: ERA Infotech Ltd.</p>
        </div>  
    </div>
</div>